<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>URLでひとこと</title>
  </head>
  <body>
        <div id="wrapper">
          <div class="header">
              <div class="header-logo">URLで<span>ひとこと</span></div>
              <div class="header-list">
                  <ul>
                      <li><button type="submit" class="btn btn-default" onclick="location.href='https://line.me/R/ti/p/%40578qzyps'">URLでひとことを使う(LINEbot)</button></li>
                      <li><button type="submit" class="btn btn-default" onclick="location.href='https://twitter.com/retasu_0141'">製作者のTwitter</button></li>
                  </ul>
              </div>
          </div>
          <div class="main">
              <div class="copy-container">
                  <h1>{{ text }}</h1>
                  <ul>
                      <li><button type="submit" class="btn btn-default" onclick="location.href='https://line.me/R/ti/p/%40578qzyps'">URLでひとことを使う(LINEbot)</button></li>
                      <li><button type="submit" class="btn btn-default" onclick="location.href='https://twitter.com/retasu_0141'">製作者のTwitter</button></li>
                  </ul>
              </div>
          </div>
          <div class="footer">
              <h1>Made by Retasu</h1>
          </div>
        </div>
  </body>
</html>
